In [1]:
import pandas as pd

#read csv file into python
df = pd.read_csv('pokemon_data.csv')

In [2]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [3]:
df['Total2'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk']+df['Sp. Def']+df['Speed']

In [8]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525

In [9]:
df.loc[df['Type 1']=='Grass']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False,313
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False,405
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False,530
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531

# Filtering Data

In [12]:
df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False,300
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False,400
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False,280
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False,515
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False,294
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [13]:

df.loc[(df['Type 1']=='Grass') | (df['Type 2']=='Poison')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False,313
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False,405
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False,530
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531

In [17]:
new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison') & (df['HP']>80)]

In [22]:
new_df=new_df.reset_index()

In [20]:
new_df

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [23]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [25]:
#names with mega in it
df.loc[df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,590
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,590
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False,600
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False,590
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,640
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,615
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,525
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,610
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False,610
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False,600
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,600
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False,600
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False,700
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,630
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False,635
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False,618
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False,480
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False,480
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False,630
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,False,510
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False,575
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False,560
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,560
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False,590
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False,555
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,3,False,580
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,700
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True,700
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,4,False,580
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,700
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False,625
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False,618
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,5,False,545
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700

In [27]:
#names without mega in it
df.loc[~df['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [28]:
#complicated filtering
import re
df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False,369
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False,507
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [33]:
#ignore capitals
#df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I regex=True)]
df.loc[df['Type 1'].str.contains('fire|grass',flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False,369
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False,507
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [34]:
df.loc[df['Name'].str.contains('pi[a-z]*',flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,299
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False,390
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,500
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
181,167,Spinarak,Bug,Poison,40,60,40,40,40,30,2,False,250
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
189,175,Togepi,Fairy,NaN,35,20,65,40,65,20,2,False,245
202,187,Hoppip,Grass,Flying,35,35,40,35,55,50,2,False,250
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
266,247,Pupitar,Rock,Ground,70,84,70,65,70,51,2,False,410
345,316,Gulpin,Poison,NaN,70,43,53,43,53,40,3,False,302
357,326,Grumpig,Psychic,NaN,80,45,65,90,110,80,3,False,470
358,327,Spinda,Normal,NaN,60,60,60,60,60,60,3,False,360
359,328,Trapinch,Ground,NaN,45,100,45,45,45,10,3,False,290
390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False,460
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
463,416,Vespiquen,Bug,Flying,70,80,102,80,102,40,4,False,474
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False,220
490,442,Spiritomb,Ghost,Dark,50,92,108,92,108,35,4,False,485
501,451,Skorupi,Poison,Bug,40,50,90,30,55,65,4,False,330
502,452,Drapion,Poison,Dark,70,90,110,60,75,95,4,False,500
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False,308
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264
596,536,Palpitoad,Water,Ground,75,65,55,65,55,69,5,False,384
716,648,MeloettaPirouette Forme,Normal,Fighting,100,128,90,77,77,128,5,False,600
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False,313

In [35]:
df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

In [36]:
#change names of rows

In [37]:
df.loc[df['Type 1']=='Fire', 'Type 1']='Flamer'

In [38]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,6,True,600

In [42]:
df.loc[df['Total2']>500, ['Generation','Legendary']] ='Test Value'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test Value,Test Value,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test Value,Test Value,625
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test Value,Test Value,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test Value,Test Value,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test Value,Test Value,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test Value,Test Value,680
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,Test Value,Test Value,600

In [43]:
df.loc[df['Total2']>500, ['Generation','Legendary']] =['Test Value','Test Two']

In [44]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total2
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test Value,Test Two,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test Value,Test Two,625
4,4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test Value,Test Two,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test Value,Test Two,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test Value,Test Two,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test Value,Test Two,680
799,721,Volcanion,Flamer,Water,80,110,120,130,90,70,Test Value,Test Two,600

In [45]:
df = pd.read_csv('modified.csv')

In [46]:
df

,Unnamed: 0,#,Name,Type 1,Type 2,Total,HP,Defense,Attack,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,405,60,63,62,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,525,80,83,82,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,123,100,122,120,80,1,False
4,4,4,Charmander,Fire,NaN,309,39,43,52,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,795,719,Diancie,Rock,Fairy,600,50,150,100,100,150,50,6,True
796,796,719,DiancieMega Diancie,Rock,Fairy,700,50,110,160,160,110,110,6,True
797,797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,60,110,150,130,70,6,True
798,798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,60,160,170,130,80,6,True
799,799,721,Volcanion,Fire,Water,600,80,120,110,130,90,70,6,True

# Aggregate Statistics

In [48]:
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

,Unnamed: 0,#,Total,HP,Defense,Attack,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Steel,486.296296,442.851852,487.703704,65.222222,126.370370,92.703704,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,431.840909,392.727273,453.750000,65.363636,100.795455,92.863636,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,521.843750,474.375000,550.531250,83.312500,86.375000,112.125000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,392.312500,356.281250,437.500000,73.781250,84.843750,95.750000,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,536.281250,486.500000,439.562500,64.437500,81.187500,73.781250,79.343750,76.468750,64.343750,4.187500,0.062500
Water,333.312500,303.089286,430.455357,72.062500,72.946429,74.151786,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,465.666667,423.541667,433.458333,72.000000,71.416667,72.750000,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,380.414286,344.871429,421.142857,67.271429,70.800000,73.214286,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,368.072464,334.492754,378.927536,56.884058,70.724638,70.971014,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,507.387097,461.354839,445.741935,66.806452,70.225806,88.387097,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,278.285714,251.785714,399.142857,67.250000,68.821429,74.678571,60.428571,64.392857,63.571429,2.535714,0.000000
Fire,360.942308,327.403846,458.076923,69.903846,67.769231,84.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,420.105263,380.807018,475.947368,70.631579,67.684211,71.456140,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,400.590909,363.500000,443.409091,59.795455,66.295455,69.090909,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,746.500000,677.750000,485.000000,70.750000,66.250000,78.750000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,400.444444,363.851852,416.444444,69.851852,65.925926,96.777778,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,494.529412,449.529412,413.176471,74.117647,65.705882,61.529412,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,351.581633,319.173469,401.683673,77.275510,59.846939,73.469388,55.816327,63.724490,71.551020,3.051020,0.020408

In [50]:
df.groupby(['Type 1']).sum()

,Unnamed: 0,#,Total,HP,Defense,Attack,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,
Bug,25397,23080,26146,3925,4880,4897,3717,4471,4256,222,0
Dark,15729,14302,13818,2071,2177,2740,2314,2155,2361,125,2
Dragon,16699,15180,17617,2666,2764,3588,3099,2843,2657,124,12
Electric,17626,15994,19510,2631,2917,3040,3961,3243,3718,144,4
Fairy,8407,7642,7024,1260,1117,1046,1335,1440,826,70,1
Fighting,10812,9824,11244,1886,1780,2613,1434,1747,1784,91,0
Fire,18769,17025,23820,3635,3524,4408,4627,3755,3871,167,5
Flying,2986,2711,1940,283,265,315,377,290,410,22,2
Ghost,17161,15568,14066,2062,2598,2361,2539,2447,2059,134,2
Grass,26629,24141,29480,4709,4956,5125,5425,4930,4335,235,3
Ground,12554,11401,14000,2361,2715,3064,1807,2008,2045,101,4
Ice,11176,10165,10403,1728,1714,1746,1861,1831,1523,85,2
Normal,34455,31279,39365,7573,5865,7200,5470,6245,7012,299,2
Poison,7792,7050,11176,1883,1927,2091,1692,1803,1780,71,0
Psychic,23946,21706,27129,4026,3858,4073,5609,4918,4645,193,14
Rock,19001,17280,19965,2876,4435,4086,2787,3321,2460,152,4
Steel,13130,11957,13168,1761,3412,2503,1823,2177,1492,104,4
Water,37331,33946,48211,8071,8170,8305,8379,7898,7388,320,4

In [51]:
df.groupby(['Type 1']).count().sort_values('Defense', ascending=False)

,Unnamed: 0,#,Name,Type 2,Total,HP,Defense,Attack,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,,
Water,112,112,112,53,112,112,112,112,112,112,112,112,112
Normal,98,98,98,37,98,98,98,98,98,98,98,98,98
Grass,70,70,70,37,70,70,70,70,70,70,70,70,70
Bug,69,69,69,52,69,69,69,69,69,69,69,69,69
Psychic,57,57,57,19,57,57,57,57,57,57,57,57,57
Fire,52,52,52,24,52,52,52,52,52,52,52,52,52
Electric,44,44,44,17,44,44,44,44,44,44,44,44,44
Rock,44,44,44,35,44,44,44,44,44,44,44,44,44
Ghost,32,32,32,22,32,32,32,32,32,32,32,32,32
Ground,32,32,32,19,32,32,32,32,32,32,32,32,32
Dragon,32,32,32,21,32,32,32,32,32,32,32,32,32
Dark,31,31,31,21,31,31,31,31,31,31,31,31,31
Poison,28,28,28,13,28,28,28,28,28,28,28,28,28
Fighting,27,27,27,7,27,27,27,27,27,27,27,27,27
Steel,27,27,27,22,27,27,27,27,27,27,27,27,27
Ice,24,24,24,11,24,24,24,24,24,24,24,24,24
Fairy,17,17,17,2,17,17,17,17,17,17,17,17,17
Flying,4,4,4,2,4,4,4,4,4,4,4,4,4

In [53]:
df['count'] = 1
df.groupby(['Type 1']).count().sort_values('Defense', ascending=False)

,Unnamed: 0,#,Name,Type 2,Total,HP,Defense,Attack,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
Type 1,,,,,,,,,,,,,,
Water,112,112,112,53,112,112,112,112,112,112,112,112,112,112
Normal,98,98,98,37,98,98,98,98,98,98,98,98,98,98
Grass,70,70,70,37,70,70,70,70,70,70,70,70,70,70
Bug,69,69,69,52,69,69,69,69,69,69,69,69,69,69
Psychic,57,57,57,19,57,57,57,57,57,57,57,57,57,57
Fire,52,52,52,24,52,52,52,52,52,52,52,52,52,52
Electric,44,44,44,17,44,44,44,44,44,44,44,44,44,44
Rock,44,44,44,35,44,44,44,44,44,44,44,44,44,44
Ghost,32,32,32,22,32,32,32,32,32,32,32,32,32,32
Ground,32,32,32,19,32,32,32,32,32,32,32,32,32,32
Dragon,32,32,32,21,32,32,32,32,32,32,32,32,32,32
Dark,31,31,31,21,31,31,31,31,31,31,31,31,31,31
Poison,28,28,28,13,28,28,28,28,28,28,28,28,28,28
Fighting,27,27,27,7,27,27,27,27,27,27,27,27,27,27
Steel,27,27,27,22,27,27,27,27,27,27,27,27,27,27
Ice,24,24,24,11,24,24,24,24,24,24,24,24,24,24
Fairy,17,17,17,2,17,17,17,17,17,17,17,17,17,17
Flying,4,4,4,2,4,4,4,4,4,4,4,4,4,4

In [54]:
df['count'] = 1
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [55]:
df['count'] = 1
df.groupby(['Type 1']).count()['HP']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: HP, dtype: int64

In [57]:
df['count'] = 1
df.groupby(['Type 1','Type 2']).count()['HP']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: HP, Length: 136, dtype: int64